{% include './partials/_header.html' %}

{% load static %}

<div class="glass hidden"></div>

<h3 class="admin-title">Төменде сіздің сауалнамаңыз туралы ақпарат берілген: {{ activity.context }}</h3>
<main class="admin-page">
    <form class="pure-form pure-form-aligned edit" action="{% url 'decision:update' activity.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="pure-control-group">
                <label>Сауалнама</label>
                <input name="context" type="text" value="{{ activity.context }}" required>
            </div>
    
            <div class="pure-control-group">
                <label>Сипаттамасы</label>
                <textarea name="description">{{ activity.description }}</textarea>
            </div>
    
            <div class="options">
              {% for choice in choice_list %}
                <div class="pure-control-group">
                    <label>Option </label>
                    <input name="option" type="text" value="{{choice.name}}">
                </div>
              {% endfor %}

            </div>
            <div class="button-group">
                <button type="submit" class="pure-button pure-button-primary">Сауалнаманы жаңарту</button>
                <button type="button" class="pure-button pure-button-primary" id="add-option">Опция қосу</button>
                <a type="button" class="pure-button pure-button-primary" id="to-delete-confirm" >Сауалнаманы жою</a>
            </div>
        </fieldset>
    </form>

    <div class="delete hidden">
        <form action="{% url 'decision:delete' activity.id %}" method="POST">
            {% csrf_token %}
            <h3>Ескерту: сауалнаманы артқа қайтару мүмкін емес</h3>
            <button class="pure-button delete-btn">Жою</button>
            <a class="pure-button back-btn">Шығу</a>
        </form>
    </div>

    <div class="admin-chart">
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Опциялар</th>
                    <th>Дауыстар</th>
                </tr>
            </thead>
        
            <tbody>
              {% for choice in choice_list %}
              <tr>
                  <td>{{ choice.name }}</td>
                  <td>{{ choice.votes_count }}</td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan='2'>
                    <canvas id="barChart"></canvas>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</main>  
    <script>
    var ctx = document.getElementById("barChart").getContext('2d');
    
    var choice_list = "{{ choice_list }}"
    choice_list = choice_list.replace(/&#39;/g, "\"")
    choice_list = JSON.parse(choice_list)
    console.log(choice_list)
    var labels = [];
    var data = []
    
    
    choice_list.forEach(function(choice){
      labels.push(choice.name);
      data.push(choice.votes_count)
    })
    
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels,
            datasets: [{
                label: '# of Votes',
                data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
    });     
    </script>

    <script src="{% static 'decision/javascript/admin.js'%}"></script>
{% include './partials/_footer.html' %}