{% load static %}

<html>
  <head>
    <title>MD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'decision/style/index.css' %}">
  </head>
  <body>
    <div class="info">
      <h1>Ең жақсын таңдау үшін дауыс бер</h1>
      <div>
        <a href="{% url 'decision:new' %}">Құру</a>
        <a id="vote-btn">Дауыс беру</a>
        <a id="admin-btn">Сауалнамалар</a>
      </div>
      <p>Әр пікір біз үшін маңызды</p>
    </div>

    <div class="glass hidden"></div>
    <div class="background">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="token hidden">
      <h3>Сіздің сауалнама токеніңіз?</h3>
      <input type="text" id="activity-token" placeholder="Token">
      <a href="" id="activity-token-link">Қатысу</a>
    </div>

    <div class="admin hidden">
      <form id="admin-token-link" method='GET'>
        <h3>Админ токені</h3>
        <input type="text" id="admin-token" placeholder="Token">
        <input type="email" name="email" placeholder="example@example.com">
        <button>Сауалнаманы өзгерту</button>
      </form>
    </div>


    <script src="{% static 'decision/javascript/index.js'%}"></script>
  </body>
</html>