{% include './partials/_header.html' %}
{% load static %}

<main class="info">
  <h1>{{ message.title }}</h1>
  <p>{{ message.content }}</p>
  <a class="pure-button pure-button-primary" href="{% url 'decision:index' %}">Ok!</a>
</main>

<script>
  window.setTimeout(function () {
    location.href = "{% url 'decision:index' %}";
}, 5000); 
</script>

{% include './partials/_footer.html' %}