{% include './partials/_header.html' %}

{% load static %}
<form class="pure-form pure-form-aligned new" action="{% url 'decision:create' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="pure-control-group">
            <label>Сауалнама</label>
            <input name="context" type="text" placeholder="Қандай сауалнама жасағыңыз келеді?" required>
        </div>

        <div class="pure-control-group">
            <label>Есіміңіз</label>
            <input name="creator" type="text" placeholder="Бұл есім көрінеді" required>
        </div>

        <div class="pure-control-group">
            <label>Поштаңыз</label>
            <input name="email" type="email" placeholder="Хабарлама келетін пошта" required>
        </div>

        <div class="pure-control-group">
            <label>Сипаттамасы</label>
            <textarea name="description" placeholder="Сауалнама сипаттамасы"></textarea>
        </div>

        <div class="options">
            <div class="pure-control-group">
                <label>Опция:</label>
                <input name="option" type="text" placeholder="Опция">
            </div>
            <div class="pure-control-group">
                <label>Опция:</label>
                <input name="option" type="text" placeholder="Опция">
            </div>
            <div class="pure-control-group">
                <label>Опция:</label>
                <input name="option" type="text" placeholder="Опция">
            </div>
        </div>
        <div class="button-group">
            <button type="submit" class="pure-button pure-button-primary create">Сауалнама құру</button>
            <button type="button" class="pure-button pure-button-primary" id="add-option">Опция қосу</button>
        </div>
    </fieldset>
</form>

<script src="{% static 'decision/javascript/addOption.js'%}"></script>

{% include './partials/_footer.html' %}