{% include './partials/_header.html' %}

<main class="show">
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Сауалнама</th>
                <th>Жасаушы</th>
                <th>Email</th>
                <th>Қолданылу мерзімі</th>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td>{{ activity.context }}</td>
                <td>{{ activity.creator }}</td>
                <td>{{ activity.email }}</td>
                <td>{{ activity.expire_on }}</td>
            </tr>
            <tr>
                <th colspan="4">Сауалнама сипаттамасы</th>
            </tr>
            <tr>
              <td colspan="4">{{ activity.description }}</td>
            </tr>
            <tr>
              <th colspan="4">Келесі біреуін тандаңыз</th>
            </tr>
            <tr>
              <td colspan="4">
                  <form class="pure-form" action="{% url 'decision:vote' activity.id %}" method="POST">
                      {% csrf_token %}
                      {% for choice in choice_list %}
                        <label class="pure-checkbox">
                            <input name="choice" type="radio" value="{{ choice }}">
                            {{ choice }}
                        </label>
                      {% endfor %}
                      <p><strong>* Сіздің деректеріңіз жасырын түрде жиналады</strong></p>
                      <button class="pure-button pure-button-primary">Дауыс беру</button>
                      <a href="{% url 'decision:index' %}" class="pure-button pure-button-active">Бас тарту</a>
                  </form>
              </td>
            </tr>
        </tbody>
    </table>
</main>

{% include './partials/_footer.html' %}