{% include './partials/_header.html' %}

<div class="graph">
    <p class="message">{{ message }}</p>
    <p>Дауыс берудің қазіргі нәтижелері</p>
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Опциялар</th>
                <th>Дауыстар</th>
            </tr>
        </thead>
    
        <tbody>
          {% for choice in choice_list %}
          <tr>
              <td>{{ choice.name }}</td>
              <td>{{ choice.votes_count }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan='2'>
                <canvas id="myChart"></canvas>
            </td>
          </tr>
        </tbody>
    </table>
    <a class="pure-button pure-button-primary" href="{% url 'decision:index' %}">Шығу</a>
</div>

<script>
var ctx = document.getElementById("myChart").getContext('2d');

var choice_list = "{{ choice_list }}"
choice_list = choice_list.replace(/&#39;/g, "\"")
choice_list = JSON.parse(choice_list)
console.log(choice_list)
var labels = [];
var data = []


choice_list.forEach(function(choice){
  labels.push(choice.name);
  data.push(choice.votes_count)
})

var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels,
        datasets: [{
            label: '# of Votes',
            data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
});

</script>


{% include './partials/_footer.html' %}
