html, body {
  height: 100%;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}

.info {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(194, 194, 194, 0.7);
  padding: 1em 1em;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 9px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 9px 0px rgba(50, 50, 50, 0.75);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.glass {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.75);
  z-index: 2;
}

.hidden {
  display: none;
}

.background div {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  animation: imageAnimation 50s linear infinite;
}

.token, .admin {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  width: 400px;
  height: 200px;
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 1px solid gray;
}

.token h3, .admin h3 {
  color: rgba(50, 50, 50, 0.9);
  width: 80%;
  margin: 10px auto;
}

.token input, .admin input {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid gainsboro;
  font-size: 1.2em;
  padding: 8px;
}

.token a, .admin button {
  text-decoration: none;
  font-size: 1.1em;
  padding: 3px 0;
  color: #fff;
  background-color:rgb(30, 200, 65);
  border: 1px solid rgb(30, 200, 65);
  border-radius: 4px;
  display: block;
  width:30%;
  margin-left: 10%;
  margin-top: 10px;
  text-align: center;
}

.info a {
  border: 0px;
  text-decoration: none;
  font-size: 2em;
  padding: .2em 1em;
  min-width: 5em;
  border-radius: 4px;
  background: transparent;
  transition: background 1s, color 1s;
  cursor: pointer;
}

.info a:nth-child(1){
  border: 2px solid rgb(28, 184, 65);
  color: rgb(28, 184, 65)
}

.info a:nth-child(2){
  border: 2px solid rgb(225, 117, 20);
  color: rgb(223, 117, 20)
}

.info a:nth-child(3){
  border: 2px solid rgb(135,160,223);
  color: rgb(135,160,223)
}

.info a:nth-child(1):hover{
  background: rgb(28, 184, 65);
  color: #fff;
}

.info a:nth-child(2):hover{
  background: rgb(223, 117, 20);
  color: #fff;
}

.info a:nth-child(3):hover {
  background: rgb(135,160,223);
  color: #fff;
}

.background div:nth-child(1){
  background-image: url('../img/bg1.jpg');
}

.background div:nth-child(2){
  background-image: url('../img/bg2.jpg');
  animation-delay: 10s;
}

.background div:nth-child(3){
  background-image: url('../img/bg3.jpg');
  animation-delay: 20s;
}

.background div:nth-child(4){
  background-image: url('../img/bg4.jpg');
  animation-delay: 30s;
}

.background div:nth-child(5){
  background-image: url('../img/bg5.jpg');
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
    animation-timing-function: ease-out
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
}

@media screen and (max-width: 1198px) {
  .info a {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 931px) {
  .info {
    top: 40%;
    width: 80%;
  }

  .info a {
    font-size: 1.2em
  }
}

@media screen and (max-width: 758px) {
  .info h1{
    font-size: 1.3em;
  }

  .info a {
    display: block;
    margin: 4px 0;
  }
}

@media screen and (max-width: 441px) {
  .info h1 {
    font-size: 1em;
  }
}