{% load static %}

<html>
  <head>
    <title>MD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>

    <link rel='stylesheet' href="{% static 'decision/style/header.css' %}">
    <link rel='stylesheet' href="{% static 'decision/style/new.css' %}">
    <link rel='stylesheet' href="{% static 'decision/style/show.css' %}">
    <link rel='stylesheet' href="{% static 'decision/style/success.css' %}">
    <link rel='stylesheet' href="{% static 'decision/style/admin.css' %}">
    <link rel='stylesheet' href="{% static 'decision/style/info.css' %}">
  </head>
  <body>
      <div class="pure-menu pure-menu-horizontal nav">
          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">MD</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Құру</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Дауыс беру</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Бізбен хабарласу</a></li>
          </ul>
      </div>
